node_modules/
www/
dist/
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/
dist/
.cache/

# Android
android/keystore.properties
*.jks
*.keystore
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/
android/.idea/
android/app/release/
android/app/src/main/assets/public/
android/app/src/main/assets/capacitor.config.json
android/app/src/main/assets/capacitor.plugins.json
*.iml
*.keystore
!debug.keystore

# iOS
ios/App/Pods/
ios/App/build/
ios/DerivedData/
ios/App/App/public/
ios/App/App/capacitor.config.json
ios/App/App/config.xml
xcuserdata/
*.xcworkspace/xcuserdata/
ios/App/Podfile.lock
